:root {
    --primary: #e10e49;
    --light: #ffffff;
    --dark: #1e1e1e;
    --blue: #263f6a;
    --green: #284e36;
    --orange: #e37222;
    --rose: #c24d52;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}